.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease 0s;

    .modal-content{
        max-width: 900px;
        padding: 25px;
        background-color: white;
        border-radius: 20px;
        transform: scale(0);
        transition: all 0.8s ease 0s;

        .close-button{
            position: fixed;
            top: 20px;
            right: 20px;
            background: none;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            transition: all 0.5s ease;
        }

        .continue-button{
            position: absolute;
            right: 20px;
            bottom: 10px;
            background-color: #2196F3;
            border: none;
            border-radius: 20px;
            padding: 10px 30px;
            font-size: 15px;
            color: white;
            transition: all 0.3s ease;
        }

        .continue-button:hover{
            box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.76);
        }

        .close-button:hover{
            background-color: rgb(255, 65, 65);
        }

        h2{
            text-align: center;
        }
    }
}

.modal.open{
    visibility: visible;
    opacity: 1;

    .modal-content{
        transform: scale(1);
    }
}